<h1>A dice rolling generator</h1>
<a href="{{ url_for('profile')}}" >Go to Page Introduction</a>
<form action="" method="">
    <br>
    <!--User name：<input type="text" name="text1" id="" ><br>-->
    Number of facets of the dic：<input type="radio" name="facets" id="" value="4">4
                                <input type="radio" name="facets" id="" value="6">6
                                <input type="radio" name="facets" id="" value="18">18
                                <br>
    <input type="submit" value="Submit" >
</form>